/* #7FE8BC
#65C2C9
#5583B0
#5256B0
#5D398F */

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
header {
  display: block;
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(to right, #7fe8bc, #5d398f);
}
h1 {
   font-family: 'Bungee Shade', sans-serif;
   font-size: 70px;
   font-weight: 100;
   float: left;
   padding-left: 50px;
   /* padding-top: 20px; */
}
nav {
  position: absolute;
  top: 60px;
  right: 50px;
}
nav ul {
  list-style-type: none;
  float: right;
}
nav li {
  display: inline;
  padding-right: 40px;
}
nav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-family: 'Bungee', sans-serif;
  transition: color 600ms;
}
nav a:hover {
   color: #7fe8bc;
   text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}
nav a:focus {
  outline: #7fe8bc 2px dotted;
}
.input {
  font-size: 15px;
  margin: 2px;
  height: 30px;
  width: 150px;
  border: 2px solid rgba(25, 38, 51, 0.4);
  outline: solid 2px transparent;
}
.input:focus {
  outline: #7FE8BC solid 2px;
}
.submit {
  height: 50px;
  width: 200px;
  margin: 30px;
  border: none;
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
  opacity: 0.8;
  color: white;
  background-color: #5D398F;
  transition: background-color 600ms;
}
.submit:hover {
  background-color: #7FE8BC;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6)
}
.submit:focus {
  outline: #5D398F 3px dotted;
}
label {
  font-size: 17px;
  font-weight: 700;
}


/* Color bars */
.bar {
  background-image: linear-gradient(to right, #7fe8bc, #5d398f);
  position: absolute;
  z-index: 1;
  width: 100%;
}
.bar1 {
  height: 40px;
  margin-top: 110px;
}
.bar2 {
  height: 25px;
  margin-top: 170px;
}
.bar3 {
  height: 12px;
  margin-top: 220px;
}
.bar4 {
  height: 6px;
  margin-top: 270px;
}
.bar5 {
  height: 3px;
  margin-top: 315px;
}
.bar6 {
  height: 2px;
  margin-top: 350px;
}
.bar7 {
  height: 1px;
  margin-top: 400px;
}
.bar8 {
  height: 1px;
  margin-top: 70vh;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 60px;
    padding-left: 5px;
  }
  nav {
    margin-top: 10px;
  }
  nav li {
    padding-right: 250px;
  }
  li a {
    font-size: 15px;
  }
  .intro_div {
    width: 100%;
    height: 100px;
  }
  .intro_text {
    font-size: 12px;
  }
  /* header nav ul li::after {
    content: "\f2f6"
    font-family: FontAwesome;
  } */
}
