#landing_section {
  position: relative;
  z-index: -2;
}
.background {
  position: relative;
  background: url('/images/landing_photo.jpg') no-repeat top center;
  background-size: cover;
  height: 70vh;
  z-index: -99999;
}
.background::before {
  background: url('/images/landing_photo.jpg') no-repeat top center;
}
.intro_div {
  position: absolute;
  border-radius: 50%;
  border: 2px solid rgba(127, 232, 188, 0.4);
  top: 15%;
  left: 35%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  height: 500px;
  width: 500px;
  padding: 30px;
}
#sign_up_section {
  height: 30vh;
}
.intro_text {
  font-size: 32px;
  font-weight: 200;
  color: black;
  padding-top: 30%;
}
#sign_up_wrap {
  margin: 1vh auto;
  width: 90%;
  height: 92%;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #7fe8bc 0%, #5d398f 100%);
  border-image-slice: 2;
  box-shadow: 15px 15px 40px rgba(25, 38, 51, 0.4);
}
#sign_up_title {
  display: inline-block;
  width: 40%;
  margin-bottom: 30px;
  margin-right: 20%;
}
#sign_up_title h2 {
  font-family: 'Bungee', sans-serif;
  font-size: 30px;
  padding-bottom: 10px;
}
#sign_up_form {
  padding-top: 10px;
  display: inline-block;
  height: 100%;
}
#sign_up_form input {
  width: 100%;
  margin-bottom: 10px;
}
.sign_up_success,
.sign_up_failure {
  height: 100%;
  font-size: 15px;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: red;
}
.sign_up_success a,
#sign_up_title a {
  text-decoration: none;
  color: #5D398F;
}
.sign_up_success a:hover,
#sign_up_title a:hover {
  text-decoration: underline;
}

.sign_up_submit {
  margin-top: 10px;
}

/* MEDIA QUERIES */

/* Tablet Portrait */
@media screen and (max-width: 900px) {
  #landing_section {
    width: 100%;
    overflow: hidden;
  }
  .background {
    background-position: 30% 60%;
    height: 100vh;
  }
  .intro_div {
    height: 330px;
    width: 330px;
    top: 25%;
    left: 40%;
  }
  .intro_text {
    padding-top: 20%;
    font-size: 25px;
  }
  .greeting {
    font-size: 20px;
  }
}

/* Mobile */
@media screen and (max-width: 600px) {
  .background {
    background-size: cover;
    background-position: 35% 65%;
  }
  .intro_div {
    height: 275px;
    width: 275px;
    top: 20%;
    left: 28%;
  }
  .intro_text {
    padding-top: 15%;
    font-size: 20px;
  }
  .greeting {
    font-size: 17px;
  }
  #sign_up_title {
    display: block;
    width: 100%;
    padding: 10px;
  }
  #sign_up_form {
    padding: 10px;
  }
}
