#login_section {

}
#login_div {
  position: absolute;
  margin: auto;
  margin-top: 20%;
  height: 300px;
  width: 50%;
  min-width: 300px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border: 10px solid transparent;
  border-image: linear-gradient(to right, #7fe8bc 0%, #5d398f 100%);
  border-image-slice: 10;
  z-index: 101;
}

#login_div h2 {
  font-family: 'Bungee', sans-serif;
  font-size: 30px;
  padding-bottom: 10px;
}
