#previous_post_section {
  margin-top: 200px;
  position: relative;
}

.post {
  padding: 0;
  margin-top: 20px;;
}
.post_wrapper {
  width: 50%;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #7fe8bc 0%, #5d398f 100%);
  border-image-slice: 2;
  padding: 20px;
  margin: 0 auto;
}
.post_wrapper p {
  text-align: left;
}

.post_date {
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
}
