#new_post_section {
  margin-top: 150px;
}

#new_post_form {
  border: 10px solid transparent;
  border-image: linear-gradient(to right, #7fe8bc 0%, #5d398f 100%);
  border-image-slice: 2;
  margin: 0 auto;
  width: 70%;
  padding: 10px;
  box-shadow: 15px 15px 40px rgba(25, 38, 51, 0.4);
}

.emoticons {
  height: 120px;
  width: 120px;
  padding: 10px;
  padding-top: 20px;;
  margin: 1%;
}

input[type="radio"] {
  visibility: hidden;
  position: absolute;
}

#mood_input_wrap,
#activity_input_wrap,
#notes_input_wrapper {
  margin-top: 20px;
}


.add_button {
  margin-top: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
}

#note_input {
  height: 200px;
  width: 40%;
  font-size: 15px;
  text-align: left;
}

legend {
  <
  font-size: 20px;
  font-family: 'Bungee', sans-serif;
}

.remove_field {
 position: absolute;
 padding-top: 10px;
 padding-left: 5px;
}
.remove_field {
  text-decoration: none;
  color: red;
}

/* EMOTICON RADIO BUTTONS */

.emoticon_label > input[type="radio"] + img {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border-color 600ms;
}
.emoticon_label > input[id="great"]:hover + img,
.emoticon_label > input[id="great"]:focus + img,{
  border: 2px solid #7FE8BC;
}
.emoticon_label > input[id="good"]:hover + img,
.emoticon_label > input[id="good"]:focus + img {
  border: 2px solid #65C2C9;
}
.emoticon_label > input[id="okay"]:hover + img,
.emoticon_label > input[id="okay"]:focus + img {
  border: 2px solid #5583B0;
}
.emoticon_label > input[id="bad"]:hover + img,
.emoticon_label > input[id="bad"]:focus + img {
  border: 2px solid #5256B0;
}
.emoticon_label > input[id="terrible"]:hover + img,
.emoticon_label > input[id="terrible"]:focus + img {
  border: 2px solid #5D398F;
}
.emoticon_label > input[id="great"]:checked + img {
  border: 2px solid #7FE8BC;
  background-color: rgba(127, 232, 188, 0.3);
}
.emoticon_label > input[id="good"]:checked + img {
  border: 2px solid #65C2C9;
  background-color: rgba(101, 194, 201, 0.3);
}
.emoticon_label > input[id="okay"]:checked + img {
  border: 2px solid #5583B0;
  background-color: rgba(85, 131, 176, 0.3);
}
.emoticon_label > input[id="bad"]:checked + img {
  border: 2px solid #5256B0;
  background-color: rgba(82, 86, 176, 0.3);
}
.emoticon_label > input[id="terrible"]:checked + img {
  border: 2px solid #5D398F;
  background-color: rgba(93, 57, 143, 0.3);
}
