#new_post_section {
  margin-top: 10%;
}

#new_post_form {
  border: 1px black solid;
  padding: 10px;
}

.emoticons {
  height: 100px;
  width: 100px;
  padding: 10px;
  padding-top: 20px;
}

input[type="radio"] {
  visibility: hidden;
  position: absolute;
}

.emoticon_label > input[type="radio"] + img {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
}
.emoticon_label > input[id="great"]:checked + img {
  border: 1px solid #7FE8BC;
  background-color: rgba(127, 232, 188, 0.3);
}
.emoticon_label > input[id="good"]:checked + img {
  border: 1px solid #65C2C9;
  background-color: rgba(101, 194, 201, 0.3);
}
.emoticon_label > input[id="okay"]:checked + img {
  border: 1px solid #5583B0;
  background-color: rgba(85, 131, 176, 0.3);
}
.emoticon_label > input[id="bad"]:checked + img {
  border: 1px solid #5256B0;
  background-color: rgba(82, 86, 176, 0.3);
}
.emoticon_label > input[id="terrible"]:checked + img {
  border: 1px solid #5D398F;
  background-color: rgba(93, 57, 143, 0.3);
}

#mood_input_wrap,
#activity_input_wrap,
#notes_input_wrapper {
  padding-top: 40px;
}

.remove_field {
 position: absolute;
 padding-left: 5px;
}
.remove_field {
  text-decoration: none;
  color: red;
}
