/* #7FE8BC
#65C2C9
#5583B0
#5256B0
#5D398F */

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
header {
  display: block;
  position: absolute;
  top: 0;
  height: 100px;
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(to right, #7fe8bc, #5d398f);
}
h1 {
   font-family: 'Bungee Shade', sans-serif;
   font-size: 60px;
   font-weight: 100;
   float: left;
   padding-left: 50px;
   /* padding-top: 20px; */
}
nav {
  position: absolute;
  top: 60px;
  right: 50px;
}
nav ul {
  list-style-type: none;
  float: right;
}
nav li {
  display: inline;
  padding-right: 40px;
}

nav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-family: 'Bungee', sans-serif;
}

nav a:hover {
   color: #7fe8bc;
}

.input {
  font-size: 15px;
  margin: 2px;
  height: 30px;
  width: 150px;
  border: 2px solid rgba(25, 38, 51, 0.4);
  outline: solid 2px transparent;
}

.input:focus {
  outline: #7FE8BC solid 2px;
}

.submit {
  height: 50px;
  width: 200px;
  margin: 30px;
  border: none;
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
  opacity: 0.8;
  color: white;
  background-color: #5D398F;
  transition: background-color 600ms;
}

.submit:hover {
  background-color: #7FE8BC;
}
